html, body {
    margin: 0;
    min-height: 100vh;
}

#root {
    margin: 0;
    min-height: 100vh;
}

.main {
    height: calc(100vh - (56px + 16px));
  }
  
.Navbarbg {
    background-color: #375d81;
}

.Navbarbg a {
    background-color: #375d81 !important;
    color: #fff;
    border: #fff !important;
}

.Navbarbg a:hover {
    background-color: #AAC8E2 !important;
    color: #375D81 !important;
    border: #375D81;
}

.Navbarbg button {
    background-color: #375d81 !important;
    color: #fff;
    border: #fff !important;
}

.Navbarbg button:hover {
    background-color: #AAC8E2 !important;
    color: #375D81 !important;
    border: #375D81;
}


.titulo {
    color: #fff !important;
    border: #375D81;
    font-size: 200%;
}

.cursor {
    cursor: pointer;
}

h1,h2,h4{
    color: #183052 !important;
    font-size: 200%;
}
.modal-title {
    color: #183052 !important;
    font-size: 180%;
}

label {
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
    color: #183052;
    border-block-color: #fff;
}
.form-control {
    background: #C5D7ED;
    border-block-color: #183052;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
    color: #183052;
    font-size: 100%;
}

.form-control:hover {
    background: #C5D7ED;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
    color: #183052;
    border-block-color: #fff;
}
.form-select {
    background: #C5D7ED;
    border-block-color: #183052;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
    color: #183052;
    font-size: 100%;
}

.form-select:hover {
    background: #C5D7ED;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
    color: #183052;
    border-block-color: #fff;
}


.form {
    background-color: #fff !important;
    color: #183052 !important;
}

.form:hover {
    background-color: #e1e6fa !important;
    color: #183052 !important;
    border: #183052;
}

.Button {
    background: #C5D7ED;
    border-block-color: #183052;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
    color: #183052;
    font-size: 110%;
}

.Button:hover {
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
    background: #183052;
    color: #fff;
    border-block-color: #fff;
}
.logo-header{
    background: url(img/logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
}