/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 576px) {
  .cart {
    width: 400px !important;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) {
  .cart {
    width: 300px !important;
  }
}

/* stilos de item carrito */
.cartItem {
  height: 210px;
  background-color: #fff;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-radius: 5px;
  
}

.cartItemimg {
  height: 65px;
  border-radius: 5px;
}

.dataContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  color: #183052;
}

.left {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.leftp {
  font-weight: bold;
  font-size: 70%;
}

.leftbuttons {
  display: flex;
  gap: 5px;
}

.leftbutton {
  border: none;
  cursor: pointer;
  font-size:80%;
  padding: 3px 5px;
  border-radius: 5px;
  font-weight: bold;
  color: #222222;
}


.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.rightdiv {
  background-color: #183052;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75%; 
  font-weight: bold;
  color: #fff;
}

.rightp {
  font-weight: bold;
  margin-top: 0px;
}

/* estilos del carrito carrito */

div.productsContainer::-webkit-scrollbar {
    width: 3px;
}

div.productsContainer::-webkit-scrollbar-track {
  background-color: darkgrey;
}

div.productsContainer::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}

.cartContainer {
  width: 100vw;
  display: relative;
  
}
.dataContainer button {
  background: #183052;
  font-family: 'Montserrat', sans-serif;
  transition: all ease-in 100ms;
  color: #fff;
  font-size:80%;
}

.dataContainer button:hover {
  transition: all ease-in 100ms;
  background: #aac8e2;
  color: #183052;
}

.buttonCartContainer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 3;
}

svg {
  height: 25px;
  margin-right: 2px;
}

.buttonCart {
  background-color: #183052;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
}

.productsNumber {
  height: 20px;
  width: 20px;
  border-radius: 999px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #aac8e2;
  font-size: 75%;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  /*color del carrito*/
  position: fixed;
  bottom: 10px;
  right: 80px;
  width: 70vw;
  padding: 8px;
  border-radius: 20px;
  background-color: #183052;
  color: white;
  z-index: 2;
}

h2 {
  text-align: left;
  font-weight: bold;
}

.cartVacio {
  text-align: center;
  margin-top: 5px;
  font-size: 150%
}

.total {
  text-align: left;
  font-weight: bold;
  padding: 12px;
}

.productsContainer {
  max-height: 400px;
  overflow-y: scroll;
  margin-top: 5px;
}

/*Serigrafia stilos*/
.cartItem2 {
  margin-top: 10px;
  height: 80px;
  display: flex;
  align-items: left;
  justify-content: space-between;

}

.cartItemimg2 {
  height: 65px;
  border-radius: 5px;
}

.dataContainer2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.left2 {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftp2 {
  font-weight: bold;
  font-size: 65%;
}

.right2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rightdiv2 {
  width: 20px;
  height: 20px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  font-weight: bold;
  margin-left: 10px;

}

.rightp2 {
  font-weight: bold;
}
