/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 576px) {
  .header {
    flex-direction: row;
  }

  .header-filter {
    width: 500px;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) {
  .header {
    flex-direction: row;
  }
  
  .header-filter {
    width: 100%;
    flex-direction: row;
  }
  
}

.header {
  width: 90%;
  margin:auto;
  margin-bottom: 48px;
  display: flex;  
  
}

.header-title {
  align-self: flex-start;
  padding-right: 10px;
}

.header-filter {
  align-self: flex-end;
  display: flex;
  padding-right: 10px;
}

.body b1 {
  padding: 2em 0;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h5 {
  margin: 0;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card {
  background: #aac8e2;
  padding: 0;
  width: 18em;
  border-radius: 0.6em;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}

.card:hover {
  z-index: 1;
  transform: scale(1.05);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.card img {
  display: inline-block;
  width: 18em;
  height: 200px;
  object-fit: contain;
}

.card-body {
  font-family: 'Montserrat', sans-serif;
  transition: all ease-in 100ms;
  padding: 1.2em;
  color: #fff;
}
.card-header {
  font-family: 'Montserrat', sans-serif;
  transition: all ease-in 100ms;
  background: #375d81;;
  color: #fff;
  font-size: 150%;
}
.card button {
  background: #375d81;
  border-block-color: #375d81;
  font-family: 'Montserrat', sans-serif;
  transition: all ease-in 100ms;
  color: #fff;
  font-size: 100%;
}
.card button:hover {
  font-family: 'Montserrat', sans-serif;
  transition: all ease-in 100ms;
  background: #183052;
  color: #fff;
}
